<script type="module" src="main.js"></script>
<script>
  function showDownload() {
    // localstorage.keys().then(keys => {
    //   let found = keys.find(k => k.indexOf('1-1000') > -1);
    //   if (found) {
    //     $('#download').hide();
    //   } else {
    //     $('#download').show();
    //   }
    // });
  }
  $(window).on("load", async () => {
    let authCode='<%=authCode%>';
    if (authCode) {
      let data = await getToken(authCode);
      localforage.setItem('token', data.access_token);
      $('#authorize').hide();
      $('#logoff').show();
      showDownload();
    } else {
      $('#authorize').show();
      $('#logoff').hide();
    }
  });
</script>
<style>
  header {
    background-color: #666;
    padding: 5px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
  }

  #logoff {
    float: right
  }

  #logo {
    float: left
  }
</style>

<header>
  <div class="dropdown">
    <button id="authorize" onclick="authorize()" class="btn btn-primary">
      <ion-icon name="logo-microsoft"></ion-icon>Logar no Onedrive
    </button>
    <button id="logoff" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
      <ion-icon name="person-circle-outline"></ion-icon>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Cadastro</a></li>
      <li><a class="dropdown-item" href="#">Preferencias</a></li>
      <li><a class="dropdown-item" onclick="logoff()">Logoff</a></li>
    </ul>
  </div>
</header>