<script>
    async function remove() {
      let keys = await localforage.keys()
      keys.filter(k => k.indexOf('1-1000')>-1).forEach(k => localforage.removeItem(k))
    }

    $(window).on("load",async ()=>{
      if(await localforage.getItem('token')){
        $('#play').show();
        $('#remove').show();
      } else {
        $('#play').hide();
        $('#remove').hide();
      }
    });
</script>
<style>
  article{
    margin-top:3em;
    margin-left:3em;
  }
</style>
<button id="download" onclick="download()" class="btn btn-primary"><ion-icon name="download-outline"></ion-icon></button>
<button id="play" onclick="play()" class="btn btn-primary"><ion-icon name="play-outline"></ion-icon></button>
<button id="remove" onclick="remove()" class="btn btn-danger"><ion-icon name="trash-outline"></ion-icon></button>