<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PKCE Flow Example</title>
  <%- include('./partials/head'); %>
</head>
<body style="background-color: darkolivegreen;">
  <%- include('./partials/header'); %>
  <article>
    <%- include('./partials/player'); %>
  </article>
</body>
</html>
<script>
  $(window).on("load", function() {
    //starter();
  });
  $(document).ready(function() {
  });
</script>